#biography_section
{
	position: relative;
	z-index: 1;
	width: 100vw;
	max-width: 100%;
	background: white;
}

#biography_section .content
{
    align-content: flex-start;
	margin-bottom: 50px;
  	margin-top: 80px;
}

#biography_section .title
{
    font-family: "Trebuchet MS";
    font-weight: bold;
	font-size: 18px;
	color: black;
}