#contact_section
{
	position: relative;
	z-index: 1;
	height: 35vh;
	width: 100vw;
	max-width: 100%;
	background: #faf9f6;
}

#contact_section .content{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

@media screen and (max-width: 800px)
{
	#contact_section .content
	{
		flex-direction: column;
		justify-content: center;
		gap:50px;
	}

	#surround{
		width:auto;
	}
}

#contact_section .title
{
    font-family: "Trebuchet MS";
    font-weight: bold;
	font-size: 20px;
	color: black;
}

#surround{
	width: 20vw;
}

.networks {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap:50px;
}

.social {
	padding: 20px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(28, 28, 51, 0.2);
}

.social img{
	width: 50px;
}