@font-face {
	font-family: "Rubik regular";
	src: local("assets/fonts/Rubik-Regular.woff") format('woff');
  }

*
{
	margin: 0;
	padding: 0;
}

html
{
	scroll-behavior: smooth;
	overflow-x: hidden;
	background-color: white;
}

body
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	background-color: #faf9f6;
	;
}

#main
{
	display: flex;
	flex-direction: column;
}

.section
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.content
{
	display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 150px;
}

@media screen and (max-width: 1150px) { .content { padding: 0px 100px; } }
@media screen and (max-width: 900px) { .content { padding: 0px 75px; } }
@media screen and (max-width: 500px) { .content { padding: 0px 25px; } }

.tilted
{
	height: 8vw;
	width: 100%;
	align-content: flex-start;
	transform: skewY(-10deg);
	margin-top: 20px;
}
